/*
  Author: Fiona Saiter
  Project:  Fiona UX Portfolio
  Date: December 19, 20221
*/

/***** =01 RESET/GLOBALS/HELPER CLASSES *****/
:root {
  --clr-bkg: #2a92fa;
  --clr-primary-text: #002448;
  --clr-secondary-text: #fdfdfd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  background-color: var(--clr-bkg);
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-block-end: 12vh;
  padding: 1em 4vw 0;
}

.img-frame {
  max-width: 450px;
  margin: 2em auto;
}

footer {
  margin: auto;
}

/* Helper classes */
.me-hide,
.no-css {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(1px 1px 1px 1px);  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/***** =02 TYPOGRAPHY *****/
body {
  color: var(--clr-primary-text);
  font-family: 'Cormorant SC', serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-size: clamp(1.25em, 5.1vw, 2.5em);
  letter-spacing: .25ch;
}

h1 a {
  color: hsl(210, 80%, 25%);
  text-decoration: none;
}

h2,
h3 {
  margin-block-end: 0.5em;
  --clr-primary-text: #002448;
}

h2.main-welcome {
  margin-block-end: 1em;
}

.welcome-container p {
  color: var(--clr-secondary-text);
  font-size: 1.25em;
  letter-spacing: .5ch;
  text-align: center;
}

p,
ul,
ol {
  margin-block-end: 1em;
}

p {
  font-size: 1em;
  font-size: clamp(1em, 5.1vw, 1.5em);
}

/***** =03 NAVIGATION *****/
/* If there is no javascript hide the menu button */
.no-js .menu-toggle {
  display: none;
}

.menu-toggle {
  padding: 0.25em 1em;
  color: var(--clr-secondary-text);
  font-family: 'Cormorant SC', serif;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--clr-bkg);
  border: none;
  /*border: 1px solid #002448; */
  /* border-radius: .50em; */
}

.menu-toggle:hover {
  color: black;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  text-align: left;
}

nav a {
  color: #002448;
  font-family: 'Cormorant SC', serif;
  font-size: 1.2em;
  list-style: none;
  text-decoration: none;
}

nav a:hover {
  color: var(--clr-secondary-text);
}

.nav-primary {
  position: relative;
}

.nav-primary ul {
  position: absolute;
  top: 1.5em;
  right: 0;
  text-align: right;
  border-right: 3px solid var(--clr-primary-text);
}

.nav-primary a {
  padding-right: 0.7em;
  padding-bottom: 3px;
  color: var(--clr-secondary-text);
}

.nav-primary a:hover {
  color: var(--clr-primary-text);
  border-bottom: 2px solid var(--clr-primary-text);
}

/* Nav Social */
.nav-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-social ul {
  display: flex;
  flex-direction: column;
}

.nav-social .icon-svg {
  margin-block-end: .5em;
  font-size: 1em;
}

/***** =04 LAYOUT *****/

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  max-width: 800px;
  margin: 0 8vw;
}

@media screen and (min-width: 800px) {
  .content-wrap {
    margin-inline: auto;
  }
}

h2.animated,
h1.animated {
  /* margin-top: 10vh; */
  font-size: 2em;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes moveInLeft {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes moveInRight {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

/***** LANDING PAGE *****/


/***** ABOUT PAGE *****/


/***** BLOG PAGE *****/

.blog-container {
  display: block;
  margin-block-start: 3em;
  margin-block-end: 8em;

}

.blog-title {
  font-size: 2.5em;
  text-align: center;
}

/***** CONTACT PAGE *****/

/* .contact-form {
  width: 50%;
  margin: 0 auto;
} */

.contact-main-header {
  margin-block-end: 1.5em;
  color: #002448;
  font-size: 2.2em;
}

.item-container {
  margin-inline: auto;
}

label {
  color: #002448;
  font-size: 1.3em;
  text-align: left;
}

input {
  margin-top: 1em;
  margin-block-end: 3em;
  background-color: var(--clr-bkg);
  border: none;
  border-bottom: 1.5px solid #002448;
}

input::placeholder {
  color: var(--clr-secondary-text);
}

textarea {
  width: 100%;
  margin-block-start: 2em;
  background-color: var(--clr-bkg);
  border: 1px solid #002448;
}

textarea::placeholder {
  padding: 2em;
  color: var(--clr-secondary-text);
}

#message-submit {
  padding: 10px 30px;
  color: var(--clr-secondary-text);
  font-family: 'Cormorant SC', serif;
  font-size: 1.2em;
  background-color: #002448;
  border: 1px solid #002448;
  border-radius: .50em;
}

#message-submit:hover {
  color: #002448;
  font-size: 1.3em;
  font-weight: 700;
  background-color: #D5DAE1;
  border: 2px solid #002448;
}

/***** WORK PAGE *****/

.fiona-work .welcome-container {
  margin-bottom: 10em;
}

.card {
  margin-bottom: 2em;
}

.card h2 {
  margin-bottom: 1em;

}

.card img {
  margin-bottom: 2em;
}

